{%load static%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'css/login/style.css' %}">
<div class="container">
<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="invoice-title">
                        <h4 class="float-end font-size-15">Invoice #{{payment_status.order_id}} <span class="badge bg-success font-size-12 ms-2">Paid</span></h4>
                        <div class="mb-4">
                           <h2 class="mb-1 text-muted"></h2>
                        </div>
                        <div class="text-muted">
                            <p class="mb-1">E-STORE</p>
                            <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> estore@123.com</p>
                            <p><i class="uil uil-phone me-1"></i> 0000000000</p>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Billed To:</h5>
                                <h5 class="font-size-15 mb-2">{{order.user.username}}</h5>
                                <h5 class="font-size-15 mb-2">{{checkout_address.street_address}}</h5>
                                <p class="mb-1">{{checkout_address.apartment_address}}</p>
                                <p class="mb-1">{{payment_status.email}}</p>
                                <p class="mb-1">{{checkout_address.country}}</p>
                                <p class="mb-1">{{checkout_address.zip_code}}</p>
                                <p class="mb-1">{{payment_status.contact}}</p>
                                <p></p>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                            <div class="text-muted text-sm-end">
                                <div>
                                    <h5 class="font-size-15 mb-1">Invoice Id: </h5>
                                    <p>{{payment_status.order_id}}</p>
                                </div>
                                {% comment %} <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                    <p>12 Oct, 2020</p>
                                </div> {% endcomment %}
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Date:</h5>
                                    <p>{{order.ordered_date}}</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Order Id:</h5>
                                    <p>{{payment_status.id}}</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Payment Method:</h5>
                                    <p>{{payment_status.method}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    
                    <div class="py-2">
                        <h5 class="font-size-15">Order Summary</h5>

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 70px;">No.</th>
                                        <th>Item</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        {% for item in order.items.all%}
                                        {% comment %} <th>Quantity</th> {% endcomment %}
                                        {% comment %} <th class="text-end" style="width: 120px;">Total</th> {% endcomment %}
                                    </tr>
                                </thead><!-- end thead -->
                                <tbody>
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>
                                            <div>
                                                <h5 class="text-truncate font-size-14 mb-1">{{item.product.name}}</h5>
                                                {% comment %} <p class="text-muted mb-0">Watch, Black</p> {% endcomment %}
                                            </div>
                                        </td>
                                        <td>{{item.product.price}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td class="text-end">{{item.get_total_item_price}}</td>
                                    </tr>
                                    {% endfor %}
                                    <!-- end tr -->
                                    {% comment %} <tr>
                                        <th scope="row">02</th>
                                        <td>
                                            <div>
                                                <h5 class="text-truncate font-size-14 mb-1">Stainless Steel S010</h5>
                                                <p class="text-muted mb-0">Watch, Gold</p>
                                            </div>
                                        </td>
                                        <td>$ 245.50</td>
                                        <td>2</td>
                                        <td class="text-end">$491.00</td>
                                    </tr> {% endcomment %}
                                    <!-- end tr -->
                                    {% comment %} <tr>
                                        <th scope="row" colspan="4" class="text-end">Sub Total</th>
                                        <td class="text-end">$732.50</td>
                                    </tr>
                                    <!-- end tr --> {% endcomment %}
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end"><b>Total</b></th>
                                        <td class="border-0 text-end"><h4 class="m-0 fw-semibold">Rs.{{order.get_total_price}}</h4></td>
                                    </tr>
                                    <!-- end tr -->
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                        </div><!-- end table responsive -->
                        <div class="d-print-none mt-4">
                            <div class="float-end" style="text-align:center">
                                <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                {% comment %} <a href="#" class="btn btn-primary w-md">Send</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>
</div>