{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Update Product</title>
</head>
<body>
    <h2>Update Product</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button types="submit">Update</button>
    </form>
</body>
</html> {% endcomment %}
{% comment %} <!DOCTYPE html>
<html Lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Login Page</title>
    </head>
    <body>
        <form method="post">
           {% csrf_token %}
            <input type="username" name="username" id="username" placeholder="username">
            <input type="password" name="password" id="password" placeholder="password">
            <button type="submit">Login</submit>

        </form>
    </body>
    </html> {% endcomment %}




    <!doctype html>
    {% load static %}
    <html lang="en">
      <head>
          <title>Add Product Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
    
        </head>
        <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        {% comment %} <h2 class="heading-section">Log in</h2> {% endcomment %}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="wrap d-md-flex">
                            <div class="img" style="background-image:url('{{image}}')">
                      </div>
                            <div class="login-wrap p-4 p-md-5">
                          <div class="d-flex">
                              <div class="w-100">
                                  <h3 class="mb-4">Update Product</h3>
                                  {% if messages %}
                                  {% for message in messages %}
                                  <h4 class="alert alert-secondary" style="color:red">{{message}}</h4>
                                  {% endfor %}
                                  {% endif%}
                                  
                              </div>
                                    {% comment %} <div class="w-100">
                                        <p class="social-media d-flex justify-content-end">
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                        </p>
                                    </div> {% endcomment %}
                          </div>
                          <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.as_p}}
                            
                        
                                    <input name="update_product" type ="submit" id="update_product" class="form-control btn btn-primary rounded submit px-3" value="Update">
                                </form>
                                
                        
                        {% comment %} <div class="form-group d-md-flex">
                            <div class="w-50 text-left">
                                <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="w-50 text-md-right">
                                            <a href="#">Forgot Password</a>
                                        </div>
                        </div> {% endcomment %}
                             </form>
                     
                    </div>
                  </div>
                    </div>
                </div>
            </div>
        </section>
    
        <script src="js/jquery.min.js"></script>
      <script src="js/popper.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/main.js"></script>
    
        </body>
    </html>
    
    
    